<div class="container">
    <form [formGroup]="createUserForm" (ngSubmit)="onCreateUser()">
        <div class="user"> Create User </div>
        <div class="form-group name">
            <label for="name">
                <h4> Name </h4>
            </label>

            <input type="name" class="form-control" id="name" formControlName="name" placeholder="Name">

            <span *ngIf="!createUserForm.get('name').valid && createUserForm.get('name').touched" class="help-block">
                This field is required!
            </span>
        </div>
        <div class="form-group username">
            <label for="username">
                <h4> Username </h4>
            </label>

            <input type="text" class="form-control" id="username" formControlName="username" placeholder="Username">

            <span *ngIf="!createUserForm.get('username').valid && createUserForm.get('username').touched" class="help-block">
                This field is required!
            </span>
        </div>
        <div class="form-group email" id="regform">
            <label for="email">
                <h4> Email </h4>
            </label>


            <input type="email" class="form-control" id="email" formControlName="email" placeholder="Email Id">

            <span *ngIf="!createUserForm.get('email').valid && createUserForm.get('email').touched" class="help-block">
                Please enter a valid email!
            </span>
        </div>
        <div class="form-group password">
            <label for="password">
                <h4> Password </h4>
            </label>


            <input type="text" class="form-control" id="password" formControlName="password" placeholder="Password">

            <span *ngIf="!createUserForm.get('password').valid && createUserForm.get('password').touched" class="help-block">
                Minimum Length must be 6 characters!
            </span>
        </div>
        <div class="form-group radioclass">
            <label>
                <h4 id="height"> Gender: </h4>
            </label>

            <input type="radio" id="male" value="male" class="form-controlled" formControlName="gender" (change)="changeGender($event)">
            
            <label class="radio" id="font"> Male </label>
            
            <input type="radio" id="female" value="female" class="form-controlled" formControlName="gender" (change)="changeGender($event)">
           
            <label class="radio"> Female </label>
            
            <input type="radio" id="other" value="other" class="form-controlled" formControlName="gender" (change)="changeGender($event)">
           
            <label class="radio">  Other </label>

            <span *ngIf="!createUserForm.get('gender').valid && createUserForm.get('gender').touched" class="help-block">
                Please select one.
            </span>

        </div>

        <div class="signup-btn crt-div-btn">
            <button [disabled]="!createUserForm.valid" class="btn btn-default btn-block" type="submit">Create User</button>
        </div>

        <div class="alert alert-success userCreated" role="alert" *ngIf="userCreated"> You have successfully created user. Check User's List.</div>

    </form>
</div>