<div class="table-responsive ">
    <table class="table user-table">
        <tr>
            <th class="serial"> Sl No </th>
            <th> Name </th>
            <th> Username </th>
            <th> Email </th>
            <th> Gender </th>
        </tr>
        <tr>
            <td class="serial"> name </td>
            <td> name </td>
            <td> name </td>
            <td> name </td>
            <td> name </td>
        </tr>
        <tr>
            <td class="serial"> name </td>
            <td> name </td>
            <td> name </td>
            <td> name </td>
            <td> name </td>
        </tr>
        
        
    </table>
</div>
