<div [class.large]="large" [class.small]="!large">
    <div #mapContainer id="map"></div>
  </div>
  <div [class.info]="markerinfo">
    <div>
      <div class="title">
        {{ currentmrkr.title }}
      </div>
      <div class="content">
        {{ currentmrkr.innercontent }}
      </div>
    </div>
    <div class="infocancel">
      <button *ngIf="markerinfo" type="button" class="btn btn-default" id="close-btn" (click)="onCancel()">
              <span class="glyphicon glyphicon-remove"></span>
      </button>
    </div>
  </div>


    
