<div class="table-responsive ">
    <table class="table user-table">
        <tr>
            <!-- <th class="serial"> Sl No </th> -->
            <th> Name </th>
            <th> Username </th>
            <th> Password </th>
            <th> Email </th>
            <th> Gender </th>
            <th> Delete </th>
        </tr>
        <!-- <tr>
            <td class="serial"> name </td>
            <td> name </td>
            <td> name </td>
            <td> name </td>
            <td> name </td>
        </tr> -->
        
            <!-- <td (click)="deleteRow(i)">
              <i class="fa fa-trash fa-2x"></i>
            </td> -->
              <!-- <td>
                {{ dynamicArray }}
                 <input [(ngModel)]="user.name" class="form-control" type="text" name="{{user.name}}" /> 
              </td> -->
              <tr *ngFor="let item of dynamicArray; let i=index;">
                <!-- <td> i </td>   -->
                <td>{{item.name}} </td>
                <td>{{item.username}} </td>
                <td>{{item.password}} </td>
                <td>{{item.email}} </td>
                <td>{{item.gender}} </td>
                <td><button type="button" class="default" (click)="delete(i)"> Delete </button> </td>
            </tr>
              <!-- <td>
                {{ user.username }}
              </td>
              <td>
                {{ user.password }}
              </td>
              <td>
                {{ user.email }}
              </td>
              <td>
                {{ user.gender }}
              </td> -->
          
          <!-- <tr>
            <td (click)="addRow(i)">
              <i class="fa fa-plus fa-2x"></i>
            </td>
          </tr> -->
    </table>
</div>

