<div class="table-responsive ">
    <table class="table user-table">
        <tr>
            <th class="serial"> Sl No </th>
            <th> Name </th>
            <th> Username </th>
            <th> Email </th>
            <th> Gender </th>
        </tr>
        <!-- <tr>
            <td class="serial"> name </td>
            <td> name </td>
            <td> name </td>
            <td> name </td>
            <td> name </td>
        </tr> -->
        <!-- <tr *ngFor="let dynamic of dynamicArray; let i = index;"> -->
            <!-- <td (click)="deleteRow(i)">
              <i class="fa fa-trash fa-2x"></i>
            </td> -->
              <!-- <td>
               {{ dynamicArray[i].name }}
              </td>
              <td>
                {{ dynamicArray[i].username }}
              </td>
              <td>
                {{ dynamicArray[i].password }}
              </td>
              <td>
                {{ dynamicArray[i].email }}
              </td>
              <td>
                {{ dynamicArray[i].gender }}
              </td> -->
          <!-- </tr> -->
          <!-- <tr>
            <td (click)="addRow(i)">
              <i class="fa fa-plus fa-2x"></i>
            </td>
          </tr> -->
    </table>
</div>

