<div class="box col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <div class="content-box2">
        <p id="account">Successfully Registered?</p>
        <p id="para">Click here to login Again.</p>
        <button type="button" class="btn btn-default" id="regbtn" (click)="toggle2()"> Login </button>
    </div>
    <div class="content-box">
        <p id="account">Don't have an account?</p>
        <p id="para">Please Register here.</p>
        <button type="button" class="btn btn-default" id="regbtn" (click)="toggle()"> Register </button>
    </div> 
</div>
<div class="innerbox-1 col-xs-4 col-sm-4 col-md-4 col-lg-4" [@divstate]="state">
    <app-sign-in></app-sign-in>
</div> 
<div class="innerbox-2 col-xs-4 col-sm-4 col-md-4 col-lg-4" [@anotherstate]="state" >
    <app-sign-up></app-sign-up>
</div>

