<div *ngIf="isLoginError" class="loginerror">
    Incorrect username or password
</div>
<div *ngIf="userNameError" class="loginerror">
    Please Sign up.Then Login!
</div>
<form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
   <div class="form-group">
       <label for="username"> <h4> Username </h4></label>
       <input type="text" class="form-control" id="userloginname" formControlName="userloginname" placeholder="Username" >
   </div>
   <div class="form-group">
        <label for="password"> <h4> Password </h4> </label>
        <input type="text" class="form-control" id="loginpassword" formControlName="loginpassword"  placeholder="Password" >
    </div>
        <button [disabled]="!signinForm.valid" class="btn btn-primary" type="submit">Login</button>
</form>
 
