<div class="googlemaps" #body>
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button> -->
        <a class="navbar-brand"> GoogleMaps </a>
        <button class="btn btn-default" id="sidebar-btn" (click)="onToggle()"><span class="glyphicon glyphicon-th-list"></span> </button>
      </div>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav">
          <li><a> Home </a></li>
          <li><a> Register Details </a></li>
          <li><a> User's List </a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><button style="cursor: pointer;" class="btn btn-default navbar-btn" id="logout"
              (click)="loginpage()">Logout</button></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="sidebar-menu" [class.sidenav]="show">
    <ul class="menu">
      <li><a> Home </a></li>
      <li><a> Register Details </a></li>
      <li><a> User's List </a></li>
      <li><a routerLink="/login"> Logout </a></li>
    </ul>
  </div>
  <div [class.large]="large" [class.small]="!large">
    <router-outlet name="markerdisplay"></router-outlet>
    <div [class.info]="markerinfo">
      <div *ngIf="markerinfo">{{message}}</div>
      <div class="btn"><button *ngIf="markerinfo" type="button" class="btn btn-primary" (click)="onCancel()"><span
            class="glyphicon glyphicon-remove"></span>
        </button></div>
    </div>
  </div>
  <div [class.info]="markerinfo">
    <div *ngIf="markerinfo">{{message}}</div>
    <div class="btn"><button *ngIf="markerinfo" type="button" class="btn btn-primary" (click)="onCancel()"><span
          class="glyphicon glyphicon-remove" id="infocancel"></span>
      </button></div>
  </div>
</div>