<nav class="navbar navbar-default ">
    <div class="container-fluid">          
      <div class="collapse navbar-collapse" >
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button">Menu<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a routerLink="/signup">Create Account</a></li>
              <li><a routerLink="/login">Login Page</a></li>
              <li><a routerLink="/login">Logout</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><button style="cursor: pointer;" class="btn btn-default navbar-btn" (click)="loginpage()">Logout</button></li>
        </ul>
      </div>
   </div>
</nav>
<div [class.large]="large" [class.small]="!large"><router-outlet name="markerdisplay"></router-outlet></div>
<div [class.info]="markerinfo">
  <div *ngIf="markerinfo">{{message}}</div>
  <div class="btn"><button *ngIf="markerinfo" type="button" class="btn btn-primary" (click)="onCancel()"
    ><span class="glyphicon glyphicon-remove"></span>
    </button></div>
</div>

