<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header dropdown">
         <a  style="cursor: pointer;" class="navbar-brand dropdown-toggle" role="button"> Menu <span class="caret"></span></a>
      </div>
      <div class="collapse navbar-collapse">
            <div class="nav navbar-nav navbar-right">
                <button style="cursor: pointer;" class="btn btn-default navbar-btn" (click)="loginpage()">Logout</button>
            </div>
      </div>
    </div>
</nav>
<div [class.large]="large" [class.small]="!large"><router-outlet name="markerdisplay"></router-outlet></div>
<div [class.info]="markerinfo">
  <div *ngIf="markerinfo">{{message}}</div>
  <div class="btn"><button *ngIf="markerinfo" type="button" class="btn btn-primary" (click)="onCancel()"
    ><span class="glyphicon glyphicon-remove"></span>
    </button></div>
</div>

