<div id="register">
      Register
</div>
<form [formGroup]="signupForm" (ngSubmit)="onSignUp()">
    <div class="form-group">
        <label for="name"> <h4> Name </h4> </label>
        <input type="name" class="form-control" id="name" formControlName="name" placeholder="Name">
        <span
              *ngIf="!signupForm.get('name').valid && signupForm.get('name').touched"
              class="help-block">
              This field is required!
        </span>
    </div>
    <div class="form-group">
        <label for="username"> <h4> Username </h4></label>
        <input type="text" class="form-control" id="username" formControlName="username" placeholder="Username" >
        <span
              *ngIf="!signupForm.get('username').valid && signupForm.get('username').touched"
              class="help-block">
              This field is required!
        </span>
    </div>
    <div class="form-group">
        <label for="password"> <h4> Password </h4> </label>
        <input type="text" class="form-control" id="password" formControlName="password" placeholder="Password" >
        <span
              *ngIf="!signupForm.get('password').valid && signupForm.get('password').touched"
              class="help-block">
              Minimum Length must be 6 characters!
        </span>
    </div>
    <div class="form-group" id="regform">
        <label for="email"> <h4> Email </h4></label>
        <input type="email" class="form-control" id="email" formControlName="email" placeholder="Email Id">
        <span
              *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched"
              class="help-block">
              Please enter a valid email!
        </span>
    </div>
    <div class="signup-btn">
      <button [disabled]="!signupForm.valid" class="btn btn-default btn-block" type="submit">Sign Up</button>
    </div>     
  </form>
  <div class="alert alert-success signinsucess"  *ngIf="isSignUpSuccess" role="alert"> Successfully Registered! </div>
